@font-face {
  font-family: 'Catorze27 Style 1';
  src: url("../assets/font/catorze27style1-semibold.ttf"); }
@font-face {
  font-family: 'Merel Regular';
  src: url("../assets/font/Merel.otf"); }
@font-face {
  font-family: 'Merel Black';
  src: url("../assets/font/Merel Black.otf"); }
@font-face {
  font-family: 'Merel Bold';
  src: url("../assets/font/Merel Bold.otf"); }
@font-face {
  font-family: 'Merel Light';
  src: url("../assets/font/Merel Light.otf"); }
@font-face {
  font-family: 'Merel Medium';
  src: url("../assets/font/Merel Medium.otf"); }
@font-face {
  font-family: 'Merel Thin';
  src: url("../assets/font/Merel Thin.otf"); }
@font-face {
  font-family: 'Georgiai';
  src: url("../assets/font/georgiai.ttf"); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
  color: #263049;
  cursor: default; }

html,
body {
  width: 100%;
  height: 100vh; }

body {
  position: relative; }

/*aside*/
.aside {
  position: fixed;
  background: #FFFFFF url("../assets/pictures/svg/fish-white.svg") no-repeat 50% calc(100% + 70px);
  -webkit-background-size: 299px 303px;
  background-size: 299px 303px;
  width: 280px;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center; }

.aside-logo {
  width: 200px;
  height: 109px;
  margin: 50px auto 65px; }

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center; }

.nav-item {
  cursor: pointer; }
  .nav-item:last-child {
    margin-bottom: 20px; }

.nav-item-link {
  font-family: 'Catorze27 Style 1', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 22px;
  line-height: 57px; }

.aside__container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.aside-icon {
  width: 23px;
  height: 33px;
  margin-bottom: 10px; }

.aside__container .aside-text {
  text-align: center; }
  .aside__container .aside-text:nth-child(2) {
    font-family: 'Merel Medium', sans-serif;
    font-size: 18px;
    line-height: 21px; }
  .aside__container .aside-text:nth-child(3) {
    margin: 13.72px 0 55.61px;
    font-family: 'Merel Regular', sans-serif;
    font-size: 18px;
    line-height: 21px; }
  .aside__container .aside-text:last-child {
    font-family: 'Catorze27 Style 1', sans-serif;
    text-transform: uppercase;
    font-size: 24px; }

.aside-img {
  width: 51px;
  height: 29px;
  margin: 35px auto; }

.aside-btn {
  cursor: pointer;
  width: 241px;
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: rgba(241, 218, 194, 0.5);
  font-family: 'Catorze27 Style 1', sans-serif;
  text-transform: uppercase;
  font-size: 18px; }

/*end*/
/*main*/
.main {
  width: calc(100% - 280px);
  margin-left: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #FAF7F2 url("../assets/pictures/svg/shrimp-right.svg") no-repeat calc(100% - 7px) 63.2%;
  background-size: 295px 368px; }

.lang {
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 64px;
  height: 64px;
  background: #FFFFFF;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: 'Catorze27 Style 1', sans-serif;
  text-transform: uppercase;
  font-size: 24px; }

.button-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #FFFFFF url("../assets/pictures/svg/arrow.svg") no-repeat 50% 50%;
  background-size: 100% 28px;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86); }

.active {
  cursor: pointer;
  opacity: 1; }

.gold {
  font-family: 'Georgiai', sans-serif;
  color: #BA8161; }

/*end*/
/*content*/
.main .container {
  width: 100%;
  position: relative;
  margin: 0 auto;
  height: 100vh; }
  .main .container:first-child {
    max-width: 1200px;
    max-height: 900px;
    margin-bottom: 130px;
    background: url("../assets/pictures/svg/fish.svg") no-repeat 110px 67px;
    background-size: 327px 332px;
    display: flex;
    flex-direction: row-reverse; }
  .main .container:first-child .container-caption {
    font-family: 'Catorze27 Style 1', sans-serif;
    font-size: 120px;
    text-transform: uppercase;
    line-height: 113px;
    position: absolute;
    top: 217px;
    left: 656px;
    z-index: 4; }
  .main .container:first-child .container-wrapper {
    position: absolute;
    top: 469px;
    left: 0;
    width: 557px;
    height: 400px;
    border: 6px solid #F7EBDD;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3; }
  .main .container:first-child .container-wrapper .container-text {
    font-family: 'Georgiai', sans-serif;
    font-style: italic;
    font-size: 18px;
    line-height: 25px;
    text-align: center; }
    .main .container:first-child .container-wrapper .container-text:first-child {
      margin: auto auto 0; }
    .main .container:first-child .container-wrapper .container-text:last-child {
      margin: 0 auto auto; }
  .main .container:first-child .container-wrapper .container-img {
    width: 60px;
    height: 10px;
    margin: 34px auto; }
  .main .container:first-child .container-block:nth-child(3) {
    position: absolute;
    top: 512px;
    right: 107px;
    width: 655.5px;
    height: 382px;
    background: #FFFFFF;
    z-index: 1; }
  .main .container:first-child .container-block:nth-child(4) {
    position: absolute;
    top: 89px;
    right: 0;
    width: 436px;
    height: 607px;
    background: #BA8161 url("../assets/pictures/png/1.png") no-repeat 75% 50%;
    background-size: cover;
    z-index: 2; }
  .main .container:nth-child(2) {
    max-width: 1200px;
    max-height: 785px;
    margin-bottom: 165px; }
  .main .container:nth-child(2) .container-caption {
    font-family: 'Catorze27 Style 1', sans-serif;
    font-size: 120px;
    text-transform: uppercase;
    line-height: 113px;
    margin: 0 auto auto 0; }
  .main .container:nth-child(2) .container-wrapper {
    position: absolute;
    z-index: 3;
    top: 240px;
    right: 0;
    width: 437px;
    height: 400px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main .container:nth-child(2) .container-wrapper .container-text {
    font-family: 'Georgiai', sans-serif;
    font-style: italic;
    font-size: 18px;
    line-height: 25px;
    text-align: center; }
    .main .container:nth-child(2) .container-wrapper .container-text:first-child {
      margin: auto auto 0; }
    .main .container:nth-child(2) .container-wrapper .container-text:last-child {
      margin: 0 auto auto; }
  .main .container:nth-child(2) .container-wrapper .container-img {
    width: 60px;
    height: 10px;
    margin: 34px auto; }
  .main .container:nth-child(2) .container__slider {
    position: absolute;
    z-index: 2;
    top: 190px;
    left: 25px;
    width: 959px;
    height: 557px;
    background: rgba(248, 236, 222, 0.6); }
    .main .container:nth-child(2) .container__slider:before {
      position: absolute;
      top: 38px;
      left: -24px;
      content: '';
      width: 945px;
      height: 544px;
      background: rgba(248, 236, 222, 0.6); }
  .main .container:nth-child(2) .container__slider .slider-arrow {
    z-index: 5; }
    .main .container:nth-child(2) .container__slider .slider-arrow:first-child {
      cursor: pointer;
      position: absolute;
      top: 150px;
      left: -54.5px;
      content: '';
      height: 109px;
      width: 116px;
      background: #FFFFFF url("../assets/pictures/svg/arrow.svg") no-repeat 50% 50%;
      background-size: 100% 28px; }
    .main .container:nth-child(2) .container__slider .slider-arrow:nth-child(2) {
      cursor: pointer;
      transform: scale(-1, -1);
      position: absolute;
      top: 267px;
      left: -54.5px;
      content: '';
      height: 109px;
      width: 116px;
      background: #FFFFFF url("../assets/pictures/svg/arrow.svg") no-repeat 50% 50%;
      background-size: 100% 28px; }
  .main .container:nth-child(3) {
    max-height: 860px;
    margin-bottom: 140px;
    display: flex;
    flex-direction: column;
    background: url("../assets/pictures/svg/dish.svg") no-repeat 150px 46px;
    background-size: 487px 380px; }
  .main .container:nth-child(3) .container-caption {
    font-family: 'Catorze27 Style 1', sans-serif;
    font-size: 120px;
    text-transform: uppercase;
    line-height: 113px;
    margin: 0 220px 0 auto; }
  .main .container:nth-child(3) .container-wrapper {
    position: absolute;
    z-index: 3;
    left: 222px;
    top: 330px;
    background: #FFFFFF;
    width: 437px;
    height: 368px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main .container:nth-child(3) .container-wrapper .container-text {
    font-family: 'Georgiai', sans-serif;
    font-style: italic;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    position: relative;
    margin: auto auto 0; }
  .main .container:nth-child(3) .container-wrapper .container-img {
    width: 60px;
    height: 10px;
    margin: 36px auto 60px; }
  .main .container:nth-child(3) .container-wrapper .container-btn {
    margin: 0 auto auto;
    width: 178px;
    height: 55px;
    border: 1.5px solid #28304A;
    font-family: 'Catorze27 Style 1', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
  .main .container:nth-child(3) .container__slider {
    position: absolute;
    z-index: 1;
    right: 217px;
    top: 187px;
    width: 985px;
    height: 669px;
    background: url("../assets/pictures/png/1.png") no-repeat 50% 50%;
    background-size: cover; }
  .main .container:nth-child(3) .container__slider .slider-arrow {
    z-index: 5; }
    .main .container:nth-child(3) .container__slider .slider-arrow:first-child {
      cursor: pointer;
      position: absolute;
      top: 303px;
      right: -54.5px;
      content: '';
      height: 109px;
      width: 116px;
      background: #FFFFFF url("../assets/pictures/svg/arrow.svg") no-repeat 50% 50%;
      background-size: 100% 28px; }
    .main .container:nth-child(3) .container__slider .slider-arrow:nth-child(2) {
      cursor: pointer;
      transform: scale(-1, -1);
      position: absolute;
      top: 422px;
      right: -54.5px;
      content: '';
      height: 109px;
      width: 116px;
      background: #FFFFFF url("../assets/pictures/svg/arrow.svg") no-repeat 50% 50%;
      background-size: 100% 28px; }
  .main .container:nth-child(4) {
    max-width: 1200px;
    max-height: 790px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px; }
  .main .container:nth-child(4) .container-caption:first-child {
    font-family: 'Catorze27 Style 1', sans-serif;
    font-size: 120px;
    text-transform: uppercase;
    line-height: 113px;
    margin: 0 auto 0 0; }
  .main .container:nth-child(4) .container-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .main .container:nth-child(4) .container-wrapper .container-box {
    max-width: 520px;
    width: 100%;
    position: relative; }
    .main .container:nth-child(4) .container-wrapper .container-box:first-child {
      margin-top: 185px; }
    .main .container:nth-child(4) .container-wrapper .container-box:nth-child(2) {
      margin-top: 75px; }
    .main .container:nth-child(4) .container-wrapper .container-box:before {
      position: absolute;
      content: '';
      top: -20px;
      right: -25px;
      width: 520px;
      height: 530px;
      background: rgba(248, 236, 222, 0.6); }
  .main .container:nth-child(4) .container-wrapper .container-box .container-img-wrapper {
    position: relative;
    overflow: hidden;
    width: 520px;
    height: 490px; }
    .main .container:nth-child(4) .container-wrapper .container-box .container-img-wrapper:hover .container-img {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1); }
  .main .container:nth-child(4) .container-wrapper .container-box .container-img-wrapper .container-img {
    position: absolute;
    z-index: 1;
    height: 100%;
    top: 0;
    bottom: 0;
    left: -25%;
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
    .main .container:nth-child(4) .container-wrapper .container-box .container-img-wrapper .container-img:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1); }
  .main .container:nth-child(4) .container-wrapper .container-box .container__text {
    position: absolute;
    top: 372px;
    left: calc(50% - 210px);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 420px;
    width: 100%;
    background: #FFFFFF; }
  .main .container:nth-child(4) .container-wrapper .container-box .container__text .container-caption {
    font-family: 'Catorze27 Style 1', sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    max-width: 350px;
    line-height: 30px;
    margin: 40px auto 0; }
  .main .container:nth-child(4) .container-wrapper .container-box .container__text .container-img {
    width: 70px;
    height: 10px;
    margin: 37px auto 27px; }
  .main .container:nth-child(4) .container-wrapper .container-box .container__text .container-text {
    font-family: 'Catorze27 Style 1', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #BA8161;
    margin: 0 auto 34px; }
  .main .container:nth-child(5) {
    max-height: 730px;
    margin-bottom: 160px;
    max-width: 1200px;
    display: flex;
    flex-direction: column; }
  .main .container:nth-child(5) .container-caption {
    font-family: 'Catorze27 Style 1', sans-serif;
    font-size: 120px;
    text-transform: uppercase;
    line-height: 113px;
    margin: 0 0 0 auto; }
  .main .container:nth-child(5) .container-wrapper {
    position: absolute;
    z-index: 3;
    top: 230px;
    right: 0;
    width: 764px;
    height: 401px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main .container:nth-child(5) .container-wrapper .container-text:first-child {
    font-family: 'Catorze27 Style 1', sans-serif;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    line-height: 34px;
    margin: auto auto 0; }
  .main .container:nth-child(5) .container-wrapper .container-text:nth-child(3) {
    font-family: 'Catorze27 Style 1', sans-serif;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    line-height: 19px;
    color: #BA8161;
    margin: 0 auto auto; }
  .main .container:nth-child(5) .container-wrapper .container-img {
    width: 70px;
    height: 10px;
    margin: 45px auto; }
  .main .container:nth-child(5) .container__slider {
    position: absolute;
    width: 546px;
    height: 553px;
    left: 0;
    top: 150px;
    background: rgba(248, 236, 222, 0.6); }
    .main .container:nth-child(5) .container__slider:before {
      position: absolute;
      z-index: 1;
      content: '';
      width: 546px;
      height: 553px;
      background: rgba(248, 236, 222, 0.6);
      top: 25px;
      left: 30px; }
  .main .container:nth-child(5) .container__slider .slider-arrow {
    z-index: 5; }
    .main .container:nth-child(5) .container__slider .slider-arrow:first-child {
      cursor: pointer;
      position: absolute;
      top: 171px;
      left: -54.5px;
      content: '';
      height: 109px;
      width: 116px;
      background: #FFFFFF url("../assets/pictures/svg/arrow.svg") no-repeat 50% 50%;
      background-size: 100% 28px; }
    .main .container:nth-child(5) .container__slider .slider-arrow:nth-child(2) {
      cursor: pointer;
      transform: scale(-1, -1);
      position: absolute;
      top: 288px;
      left: -54.5px;
      content: '';
      height: 109px;
      width: 116px;
      background: #FFFFFF url("../assets/pictures/svg/arrow.svg") no-repeat 50% 50%;
      background-size: 100% 28px; }
  .main .container:nth-child(6) {
    max-width: 1200px;
    height: 570px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
  .main .container:nth-child(6) .container-wrapper {
    width: 330px; }
    .main .container:nth-child(6) .container-wrapper:first-child {
      margin: auto auto 0 0; }
    .main .container:nth-child(6) .container-wrapper:nth-child(2) {
      margin: auto; }
    .main .container:nth-child(6) .container-wrapper:nth-child(3) {
      margin: 0 0 auto auto; }
    .main .container:nth-child(6) .container-wrapper:first-child, .main .container:nth-child(6) .container-wrapper:nth-child(2), .main .container:nth-child(6) .container-wrapper:nth-child(3) {
      cursor: pointer;
      position: relative;
      height: 360px; }
      .main .container:nth-child(6) .container-wrapper:first-child:hover:first-child .container-link, .main .container:nth-child(6) .container-wrapper:first-child:hover:nth-child(2) .container-link, .main .container:nth-child(6) .container-wrapper:first-child:hover:nth-child(3) .container-link, .main .container:nth-child(6) .container-wrapper:nth-child(2):hover:first-child .container-link, .main .container:nth-child(6) .container-wrapper:nth-child(2):hover:nth-child(2) .container-link, .main .container:nth-child(6) .container-wrapper:nth-child(2):hover:nth-child(3) .container-link, .main .container:nth-child(6) .container-wrapper:nth-child(3):hover:first-child .container-link, .main .container:nth-child(6) .container-wrapper:nth-child(3):hover:nth-child(2) .container-link, .main .container:nth-child(6) .container-wrapper:nth-child(3):hover:nth-child(3) .container-link {
        opacity: 1; }
    .main .container:nth-child(6) .container-wrapper:nth-child(3) .container-box {
      position: absolute;
      z-index: 8;
      width: 275px;
      height: 90px;
      left: calc(50% - 137.5px);
      top: -45px;
      background: #FFFFFF;
      display: flex;
      flex-direction: row;
      align-items: center; }
    .main .container:nth-child(6) .container-wrapper:nth-child(3) .container-box .container-icon {
      width: 35px;
      height: 35px;
      margin: auto 6px auto auto; }
    .main .container:nth-child(6) .container-wrapper:nth-child(3) .container-box .container-caption {
      font-family: 'Catorze27 Style 1', sans-serif;
      font-size: 38px;
      text-transform: uppercase;
      margin: auto auto auto 0; }
    .main .container:nth-child(6) .container-wrapper:nth-child(3) .container-text {
      position: absolute;
      z-index: 8;
      width: 242px;
      height: 60px;
      bottom: -30px;
      left: calc(50% - 121px);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      font-family: 'Catorze27 Style 1', sans-serif;
      font-size: 24px;
      color: #BA8161;
      background: #FFFFFF; }
    .main .container:nth-child(6) .container-wrapper:first-child .container-link, .main .container:nth-child(6) .container-wrapper:nth-child(2) .container-link, .main .container:nth-child(6) .container-wrapper:nth-child(3) .container-link {
      cursor: pointer;
      transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      opacity: 0;
      position: absolute;
      z-index: 4;
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5) url("../assets/pictures/svg/inst-white.svg") no-repeat 50% 50%;
      background-size: 76px 76px; }
    .main .container:nth-child(6) .container-wrapper:first-child .container-img-wrapper, .main .container:nth-child(6) .container-wrapper:nth-child(2) .container-img-wrapper, .main .container:nth-child(6) .container-wrapper:nth-child(3) .container-img-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden; }
    .main .container:nth-child(6) .container-wrapper:first-child .container-img-wrapper .container-img, .main .container:nth-child(6) .container-wrapper:nth-child(2) .container-img-wrapper .container-img, .main .container:nth-child(6) .container-wrapper:nth-child(3) .container-img-wrapper .container-img {
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: -25%;
      height: 100%; }
  .main .container:nth-child(7) {
    max-width: 1200px;
    height: 570px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
  .main .container:nth-child(7) .container-wrapper {
    width: 330px;
    height: 480px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main .container:nth-child(7) .container-wrapper:first-child {
      margin: auto 0 0 0; }
    .main .container:nth-child(7) .container-wrapper:nth-child(2) {
      margin-top: -15px; }
    .main .container:nth-child(7) .container-wrapper:nth-child(3) {
      margin-top: -120px; }
    .main .container:nth-child(7) .container-wrapper:first-child .container-btn, .main .container:nth-child(7) .container-wrapper:nth-child(2) .container-btn, .main .container:nth-child(7) .container-wrapper:nth-child(3) .container-btn {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 180px;
      height: 58px;
      border: 1.5px solid #28304A;
      margin: 0 auto auto; }
    .main .container:nth-child(7) .container-wrapper:first-child .container-btn .container-btn-text, .main .container:nth-child(7) .container-wrapper:nth-child(2) .container-btn .container-btn-text, .main .container:nth-child(7) .container-wrapper:nth-child(3) .container-btn .container-btn-text {
      cursor: pointer;
      font-family: 'Catorze27 Style 1', sans-serif;
      font-size: 18px;
      text-transform: uppercase;
      margin: auto 5px auto auto; }
    .main .container:nth-child(7) .container-wrapper:first-child .container-btn .container-btn-icon, .main .container:nth-child(7) .container-wrapper:nth-child(2) .container-btn .container-btn-icon, .main .container:nth-child(7) .container-wrapper:nth-child(3) .container-btn .container-btn-icon {
      cursor: pointer;
      height: 23px;
      margin: auto auto auto 0; }
    .main .container:nth-child(7) .container-wrapper:first-child .container-img:first-child {
      width: 100px;
      height: 62px;
      margin: auto auto 40px; }
    .main .container:nth-child(7) .container-wrapper:first-child .container-img:nth-child(4) {
      width: 60px;
      height: 10px;
      margin: 26px auto 42px; }
    .main .container:nth-child(7) .container-wrapper:first-child .container-caption:nth-child(2) {
      font-family: 'Catorze27 Style 1', sans-serif;
      text-transform: uppercase;
      font-size: 48px;
      line-height: 45px;
      text-align: center;
      margin: 0 auto 10px; }
    .main .container:nth-child(7) .container-wrapper:first-child .container-caption:nth-child(3) {
      font-family: 'Catorze27 Style 1', sans-serif;
      text-transform: uppercase;
      font-size: 36px;
      line-height: 34px;
      text-align: center; }
    .main .container:nth-child(7) .container-wrapper:first-child .container-line {
      width: 217px;
      height: 3px;
      margin: 0 auto 35px;
      background: #F7EBDD; }
    .main .container:nth-child(7) .container-wrapper:nth-child(2) .container-img {
      width: 105px;
      height: 60px;
      margin: auto auto 35px; }
    .main .container:nth-child(7) .container-wrapper:nth-child(2) .container-line:nth-child(2) {
      width: 217px;
      height: 3px;
      background: #F7EBDD;
      margin: 0 auto 47px; }
    .main .container:nth-child(7) .container-wrapper:nth-child(2) .container-line:nth-child(5) {
      width: 217px;
      height: 3px;
      background: #F7EBDD;
      margin: 52px auto 33px; }
    .main .container:nth-child(7) .container-wrapper:nth-child(2) .container-text {
      position: relative;
      width: 235px;
      text-align: center;
      font-family: 'Catorze27 Style 1', sans-serif;
      line-height: 23px;
      font-size: 24px;
      text-transform: uppercase;
      color: #BA8161;
      margin-bottom: 20px; }
      .main .container:nth-child(7) .container-wrapper:nth-child(2) .container-text:before {
        position: absolute;
        content: '';
        top: 8px;
        left: 13px;
        width: 42px;
        height: 7px;
        background: url("../assets/pictures/svg/zigzag-brown.svg") no-repeat 50% 50%;
        background-size: 42px 7px; }
      .main .container:nth-child(7) .container-wrapper:nth-child(2) .container-text:after {
        position: absolute;
        content: '';
        top: 8px;
        right: 13px;
        width: 42px;
        height: 7px;
        background: url("../assets/pictures/svg/zigzag-brown.svg") no-repeat 50% 50%;
        background-size: 42px 7px; }
    .main .container:nth-child(7) .container-wrapper:nth-child(2) .container-caption {
      font-family: 'Catorze27 Style 1', sans-serif;
      line-height: 34px;
      font-size: 36px;
      text-align: center;
      text-transform: uppercase; }
    .main .container:nth-child(7) .container-wrapper:nth-child(3) .container-img:first-child {
      width: 110px;
      height: 77px;
      margin: auto auto 40px; }
    .main .container:nth-child(7) .container-wrapper:nth-child(3) .container-img:nth-child(4) {
      width: 60px;
      height: 10px;
      margin: 25px auto 40px; }
    .main .container:nth-child(7) .container-wrapper:nth-child(3) .container-caption:nth-child(2) {
      font-family: 'Catorze27 Style 1', sans-serif;
      line-height: 45px;
      font-size: 48px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 10px; }
    .main .container:nth-child(7) .container-wrapper:nth-child(3) .container-caption:nth-child(3) {
      font-family: 'Catorze27 Style 1', sans-serif;
      line-height: 34px;
      font-size: 36px;
      text-align: center;
      text-transform: uppercase; }
    .main .container:nth-child(7) .container-wrapper:nth-child(3) .container-line {
      width: 217px;
      height: 3px;
      background: #F7EBDD;
      margin: 0 auto 35px; }
  .main .container:nth-child(8) {
    height: calc(100vh - 97px);
    display: flex; }
  .main .container:nth-child(8) .container-wrapper {
    margin: 0 217px auto auto;
    width: 545px;
    height: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF; }
  .main .container:nth-child(8) .container-wrapper .container-caption:first-child {
    font-family: 'Catorze27 Style 1', sans-serif;
    line-height: 68px;
    font-size: 72px;
    text-align: center;
    text-transform: uppercase;
    margin: auto auto 0; }
  .main .container:nth-child(8) .container-wrapper .container-caption:nth-child(5) {
    font-family: 'Catorze27 Style 1', sans-serif;
    font-size: 36px;
    text-align: center;
    color: #BA8161;
    margin: 50px auto 25px; }
  .main .container:nth-child(8) .container-wrapper .container-img {
    width: 57px;
    height: 10px;
    margin: 44px auto; }
  .main .container:nth-child(8) .container-wrapper .container-text:nth-child(3) {
    font-family: 'Catorze27 Style 1', sans-serif;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #28304A;
    margin-bottom: 14px; }
  .main .container:nth-child(8) .container-wrapper .container-text:nth-child(4) {
    font-family: 'Merel Regular', sans-serif;
    line-height: normal;
    font-size: 18px;
    text-align: center;
    color: rgba(40, 48, 74, 0.4); }
  .main .container:nth-child(8) .container-wrapper .container-btn {
    cursor: pointer;
    width: 312px;
    height: 55px;
    border: 1.5px solid #28304A;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Catorze27 Style 1', sans-serif;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #28304A;
    margin: 0 auto; }
  .main .container:nth-child(8) .container-wrapper .container__box {
    margin: 40px auto auto;
    width: 202px;
    height: 58px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
  .main .container:nth-child(8) .container-wrapper .container__box .container-box-icon {
    position: relative;
    width: 58px;
    height: 58px;
    cursor: pointer; }
    .main .container:nth-child(8) .container-wrapper .container__box .container-box-icon:before {
      cursor: pointer;
      position: absolute;
      content: '';
      z-index: 1;
      top: 2.5px;
      left: 2.5px;
      width: 53px;
      height: 53px;
      border-radius: 50%;
      background: #F7EBDD;
      transition: all 0.15s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
    .main .container:nth-child(8) .container-wrapper .container__box .container-box-icon:hover:before {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .main .container:nth-child(8) .container-wrapper .container__box .container-box-icon:after {
      cursor: pointer;
      position: absolute;
      content: '';
      z-index: 2; }
    .main .container:nth-child(8) .container-wrapper .container__box .container-box-icon:first-child:after {
      top: calc(50% - 5.5px);
      left: calc(50% - 10px);
      width: 20px;
      height: 11px;
      background: url("../assets/pictures/svg/vk.svg") no-repeat 50% 50%;
      background-size: cover; }
    .main .container:nth-child(8) .container-wrapper .container__box .container-box-icon:nth-child(2):after {
      top: calc(50% - 8px);
      left: calc(50% - 8px);
      width: 16px;
      height: 16px;
      background: url("../assets/pictures/svg/instagram-logo.svg") no-repeat 50% 50%;
      background-size: cover; }
    .main .container:nth-child(8) .container-wrapper .container__box .container-box-icon:last-child:after {
      top: calc(50% - 8px);
      left: calc(50% - 3.5px);
      width: 7px;
      height: 16px;
      background: url("../assets/pictures/svg/facebook-logo.svg") no-repeat 50% 50%;
      background-size: cover; }

/*end*/
/*footer*/
.footer {
  width: 100%;
  height: 97px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #ECEFF3; }

.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 7%; }

.footer .footer-text {
  font-family: 'Merel Regular', sans-serif;
  font-size: 14px;
  opacity: .3;
  margin-top: 54px; }

.footer .footer-img {
  width: 159px;
  max-height: 34px;
  margin: 39px auto 24.5px; }

.footer__container {
  margin-top: 51px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  opacity: .3; }

.footer__container .footer-made {
  font-family: 'Merel Regular', sans-serif;
  font-size: 14px; }

.footer__container .footer-logo {
  width: 59px;
  height: 14px;
  margin-left: 5px; }

/*end*/

/*# sourceMappingURL=style.css.map */
